@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
}

@layer base {
  img {
    @apply w-full h-full object-cover;
    pointer-events: none;
  }

  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    gap: 32px;
    padding: 0 32px;
    /* justify-content: center; */
    align-items: center;
  }
  .embla__slide {
    flex: 0 0 172px;
    min-width: 0;
    justify-content: center;
    align-items: center;
  }

  .embla-features__container {
    @apply flex gap-6;
  }
  .embla-features__slide {
    flex: 0 0 100%;
    min-width: 0;
  }

  .embla-gallery__container {
    @apply flex gap-6;
  }
  .embla-gallery__slide {
    @apply flex-[0_0_100%] sm:flex-[0_0_50%] md:flex-[0_0_40%];
  }

  .embla__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    width: 100%;
    align-items: center;
    margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
  }
  .embla__dot {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: #acdaee;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 8px;
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .embla__dot:after {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
  }
  .embla__dot--selected:after {
    box-shadow: inset 0 0 0 0.2rem var(--text-body);
    background-color: #30b1e8;
  }

  .footer-link {
    position: relative;
    width: fit-content;
    transition: all 0.3s ease-out;
  }
  .footer-link:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10%;
    height: 1px;
    width: 0%;
    background-color: #fff;
    transition: all 0.3s ease-out;
  }

  .footer-link:hover.footer-link:after {
    width: 100%;
  }

  .button-primary {
    position: relative;
    overflow: hidden;
  }

  .button-primary span {
    position: relative;
    overflow: hidden;
  }

  .button-primary::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #008fcd;
    transition: all 0.3s ease-out;
    transform: translateY(-100%);
  }

  .button-primary:hover.button-primary::before {
    transform: translateY(0%);
  }

  .chevrons-container {
    /* height: 60px; */
    width: 38px;
    height: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 50;
    transform: translateX(-50%);
    /* overflow: hidden */
  }

  .chevron {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
  }

  .chevron:first-child {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    animation: moveChevrons 3s ease-out 0s infinite;
  }
  .chevron:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    animation: moveChevrons 3s ease-out 1s infinite;
  }
  .chevron:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    animation: moveChevrons 3s ease-out 2s infinite;
  }

  @keyframes moveChevrons {
    25% {
      opacity: 1;
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
}

@layer utilities {
  .section-mt {
    @apply mt-[72px] sm:mt-[140px];
  }
  .section-mb {
    @apply mb-10 sm:mb-[140px] tab:mb-[80px];
  }

  .project-info-ellips {
    @apply bg-summerSky rounded-full tab:w-[216px] sm:w-[168px] tab:h-[216px] sm:h-[168px] w-[128px] h-[128px] text-center pt-2;
  }
}
