@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply w-full h-full object-cover;
  }

  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    gap: 32px;
    padding: 0 32px;
  }
  .embla__slide {
    flex: 0 0 172px;
    min-width: 0;
  }
}

@layer utilities {
}
